.suggested-page-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-end;
    font-style: italic;
    padding: 1rem;
}

.suggested-page-link {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    background: var(--secondary);
    text-decoration: none;
    text-align: center;
}